.memeEmpire {
  position: absolute;
  top: 532px;
  left: calc(50% - 113px);
  font-weight: 600;
}

.div {
  position: absolute;
  top: 587px;
  left: calc(50% - 101px);
  font-size: 14px;
  color: #aeaeae;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
}

.icon {
  width: 32px;
  height: 32px;
}

.iconParent {
  position: absolute;
  top: 665px;
  left: calc(50% - 88px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.memeEmpireParent {
  width: 100%;
  height: 753px;
  overflow: hidden;
  background-image: url('./Loading1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 34px;
  color: #fff;
  font-family: Inter;
  min-height: 100vh;
}

/* Стили для круговой анимации загрузки */
.loader {
  border: 4px solid #f3f3f3; /* Светло-серый */
  border-radius: 50%;
  border-top: 4px solid #c6d101; /* Цвет вашей темы */
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin { /* Safari */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
