.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Занимает всю высоту экрана */
  }
  
  .content {
    flex: 1; /* Контент занимает все оставшееся пространство */
  }
  
  .navigationbar {
    bottom: 24px; /* Отступ от низа */
    position: fixed; /* Фиксируем навигацию */
    width: 100%; /* На всю ширину */
    z-index: 10; /* Чтобы быть поверх контента */
  }
  