.div {
    width: 91px;
    position: relative;
    display: inline-block;
}
.frameChild {
    width: 16px;
    position: relative;
    height: 16px;
    object-fit: cover;
}
.instanceParent {
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    font-size: 14px;
    color: #fff;
}
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.pointBlock {
    flex: 1;
    border-radius: 14px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 4px;
}
.div2 {
    position: relative;
}
.icon {
    width: 12px;
    position: relative;
    height: 12px;
}
.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.icon1 {
    width: 16px;
    position: relative;
    height: 16px;
}
.pointBlockParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.blockOfInfoInner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.skufsdff {
    width: 69px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.icon2 {
    width: 14px;
    position: relative;
    height: 14px;
}
.pointBlock2 {
    flex: 1;
    border-radius: 14px;
    background-color: #191919;
    border: 1px solid #c6d101;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 6px;
}
.level89 {
    align-self: stretch;
    position: relative;
}
.progressBarBackground {
    width: 50px;
    border-radius: 32px;
    background: linear-gradient(-68.48deg, #e1ff02, #6a7800 98%);
    height: 4px;
}
.progressBarBackgroundWrapper {
    align-self: stretch;
    border-radius: 28px;
    background-color: #191919;
    height: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 13px 2px 2px;
    box-sizing: border-box;
}
.frameWrapper {
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.level89Parent {
    flex: 1;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #aeaeae;
}
.pointBlockGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: #fff;
}
.blockOfInfo {
    flex: 1;
    border-radius: 16px;
    background-color: #2e2e2e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    gap: 8px;
}
.avatarIcon {
    width: 32px;
    position: relative;
    border-radius: 6px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.namee {
    width: 61px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.meme {
    width: 61px;
    position: relative;
    font-size: 10px;
    display: inline-block;
}
.nameAndRunk {
    width: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}
.avatarParent {
    width: 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 2px;
    box-sizing: border-box;
    gap: 4px;
}
.p {
    margin: 0;
}
.div4 {
    position: relative;
    font-weight: 600;
    z-index: 0;
}
.imageIcon {
    width: 30px;
    position: absolute;
    margin: 0 !important;
    top: 13px;
    left: 95px;
    height: 30px;
    object-fit: cover;
    z-index: 1;
}
.div5 {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 3px);
}
.notificationError {
    width: 14px;
    position: absolute;
    margin: 0 !important;
    top: -8px;
    left: 103px;
    border-radius: 23px;
    background-color: #ff0000;
    height: 14px;
    z-index: 2;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 3px;
    position: relative;
    gap: 10px;
}
.everyDayBonus {
    width: 126px;
    flex: 1;
    border-radius: 14px;
    background-color: #191919;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 4px 10px 6px;
    box-sizing: border-box;
}
.profileBlock {
    align-self: stretch;
    border-radius: 16px;
    background-color: #2e2e2e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
    gap: 6px;
    text-align: left;
    color: #fff;
}
.blockOfInfoParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.softSkill {
    position: relative;
    font-weight: 600;
}
.tapbarButton {
    flex: 1;
    border-radius: 8px;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #fff;
}
.tapbarButton1 {
    flex: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.tapbarButtonParent {
    align-self: stretch;
    border-radius: 12px;
    background-color: #2e2e2e;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.subtractIcon {
    align-self: stretch;
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    height: 99px;
    flex-shrink: 0;
    z-index: 0;
}
.div7 {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.frameDiv {
    width: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.frameItem {
    width: 87.5px;
    position: relative;
    border-top: 0.5px solid #b2b2b2;
    box-sizing: border-box;
    height: 0.5px;
}
.component9Parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.frameGroup {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 41.5px);
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    z-index: 1;
}
.lvl100 {
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    flex-shrink: 0;
}
.image7Icon {
    position: absolute;
    top: 0.27px;
    left: calc(50% - 19.21px);
    width: 37.4px;
    height: 64.5px;
    object-fit: cover;
}
.image7Wrapper {
    position: absolute;
    top: calc(50% - 37px);
    left: calc(50% - 26px);
    width: 53px;
    height: 74px;
}
.instanceWrapper {
    width: 54px;
    position: relative;
    height: 74px;
}
.lvl100Parent {
    width: 54px;
    margin: 0 !important;
    position: absolute;
    top: 4px;
    left: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.subtractParent {
    width: 175px;
    height: 99px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.component13Icon {
    width: 36px;
    position: relative;
    height: 36px;
    object-fit: cover;
}
.component13Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameIcon {
    position: absolute;
    top: 0px;
    left: calc(50% - 179.5px);
    width: 358px;
    height: 377px;
}
.frameChild10 {
    position: absolute;
    top: 32px;
    left: 1.5px;
    width: 358px;
    height: 351px;
}
.instanceChild {
    width: 44px;
    position: relative;
    height: 19px;
}
.div55 {
    position: relative;
    line-height: 110%;
    font-weight: 600;
}
.instanceParent7 {
    position: absolute;
    top: 393px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.instanceParent6 {
    align-self: stretch;
    position: relative;
    height: 412px;
    overflow: hidden;
    flex-shrink: 0;
}
.frameParent11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.div6 {
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    font-size: 10px;
}
.mineCard {
    width: 100%;
    position: relative;
    background-color: #191919;
    height: 844px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 16px;
    text-align: center;
    font-size: 12px;
    color: #aeaeae;
    font-family: Inter;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
  	margin: 0; line-height: normal;
}